.loading {
  height: 35vh;
  display: flex;
  justify-content: center;

  img {
    width: 10rem;
    height: auto;
    filter: invert(96%) sepia(3%) saturate(80%) hue-rotate(169deg) brightness(93%) contrast(85%);
  }
}