.hero_top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  justify-content: center;
  color: rgb(var(--main-font-clr));
  .hero_tmdb {
    margin: 1rem;
    min-width: 8rem;
    max-width: 10rem;
    width: 30vw;
  }
  .hero_rml {
    opacity: 0.7;
    position: relative;
    justify-self: flex-end;
    margin: 1.5rem 1rem;
    min-width: 10rem;
    max-width: 12rem;
    width: 30vw;
  }
  .hero_image,
  .hero_overlay,
  .hero_text,
  .hero_tmdb,
  .hero_rml {
    grid-area: 1 / 1 / 2 / 2;
  }
  .hero_image {
    display: grid;
    min-width: 350px; // Do not resize to smaller than this.
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero_overlay {
    display: grid;
    max-width: 100%;
    background: black;
    background: linear-gradient(
                    60deg,
                    rgba(0, 0, 0, 0.2777485994397759) 30%,
                    rgba(255, 255, 255, 0) 100%
    );
  }
  .hero_text {
    display: grid;
    align-items:flex-end;
    text-align: center;
    font-size: calc(12pt + 0.25vw);
  }
  .nav {
    &> * {
    display: inline-block;
    }
    .nav_links {
      position: relative;
      transition: 200ms ease;
      text-align: center;
      width: 5rem;
      margin-bottom: 1rem;
      &:hover {
        transform: scale(1.10);
      }
      .active::after {
        content: '';
        position: absolute;
        width: calc(100% - 2rem);
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0rem;
        height: 2px;
        background: rgba(var(--secondary-clr));
      }
    }

  }
}
