:root {
  --menu-width: max(200px, 10vw);
  --menu_anim_time: 2s;
  --menu_anim_smooth: ease-out;
  --menu_anim_speed: 200ms;
  --menu_slide_anim: 150ms;
}

.page_wrapper.m_active {
  padding-left: var(--menu-width);
  transition: var(--menu_slide_anim) ease-out all;
}

.hero_top {
  display: flex;
  color: rgb(var(--main-font-clr));
  position: fixed;
  z-index: 9999;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(3, 37, 65, 1) 100%);
  height: 10vh;
  justify-content: center;
  width: 100vw;

  * {
    user-select: none;
  }

  &.m_active {
    width: 100vw;
    transform: translateX(calc(0vw - var(--menu-width)));
    transition: var(--menu_slide_anim) ease-out all;
  }

  .menu_btn {
    display: flex;
    flex-flow: column;
    position: absolute;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
    top: 3vh;
    left: calc(var(--menu-width) / 2.5);
    transition: 100ms ease-out all;
    cursor: pointer;

    & * {
      transition: 100ms ease-out all;
    }

    &.m_active {
      width: 2rem;
      height: 2rem;
    }

    .btn_top,
    .btn_middle,
    .btn_bottom {
      position: relative;
      height: 3px;
      width: 100%;
      background-color: rgb(var(--main-font-clr));
    }


    .btn_middle.m_active {
      opacity: 0;
    }

    .btn_top.m_active {
      transform: rotate(45deg) translateY(0.5rem) translateX(0.5rem);
    }

    .btn_bottom.m_active {
      transform: rotate(-45deg) translateY(-0.8rem) translateX(0.75rem);
    }
  }

  .side_menu {
    display: none;
  }

  .side_menu.m_active {
    display: flex;
    position: absolute;
    left: 0;
    top: 10vh;

    .nav {
      padding-left: calc(var(--menu-width) / 3.5);
      background: rgb(4, 38, 67);
      background: linear-gradient(-55deg, rgba(15, 48, 101, 1) 72%, rgba(4, 38, 67, 1) 100%);
      height: 100vh;

      .icons {
        display: flex;
        flex-flow: row;
        padding-top: 5vh;
      }

      .icon_git {
        padding-right: 0.5rem;
        transition: 100ms ease-out all;
        @media (hover: hover) {
          &:hover {
            color: rgb(var(--secondary-clr));
            transform: scale(0.97) translateY(-3px);
          }
        }
      }

      .icon_li {
        padding-left: 0.5rem;
        transition: 100ms ease-out all;
        @media (hover: hover) {
          &:hover {
            color: rgb(var(--secondary-clr));
            transform: scale(0.97) translateY(-3px);
          }
        }
      }

      &.m_active {
        width: var(--menu-width);
        @keyframes anim {
          from {
            transform: scaleX(0);
            transform-origin: left;
          }
          to {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
        animation: anim var(--menu_slide_anim) ease-out 1 forwards;
      }

      & > * {
        display: flex;
        flex-flow: column;
      }

      .nav_links {
        position: relative;
        transition: 200ms ease;
        text-align: center;
        width: 5rem;
        margin-bottom: 1rem;

        &:hover {
          transform: scale(1.10);
        }
      }

    }
  }

  a {
    display: flex;

    .hero_tmdb {
      margin: 1rem;
      min-width: 8rem;
      max-width: 10rem;
      width: 30vw;
    }
  }


  .hero_rml {
    opacity: 0.7;
    position: relative;
    margin: 1.5rem 1rem;
    min-width: 10rem;
    max-width: 12rem;
    width: 30vw;
  }
}