.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  img {
    max-width: 10rem;
    filter: invert(96%) sepia(3%) saturate(80%) hue-rotate(169deg) brightness(93%) contrast(85%);
  }
}