.card_wrapper {
  .card_body {
    position: relative;
    width: 15rem;
    height: 100%;
    transition: 150ms ease-out all;

    &:hover {
      transform: scale(1.1) translateY(-5px);
      cursor: pointer;
      z-index: 10;
      box-shadow: 5px 5px 20px black;

    }

    &::after {
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.25);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0);
    }

    &:hover .card_rating {

      &::before {
        font-weight: 700;
        background: linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(0,0,0,0.7) 85%);
      }
    }

    .card_rating {
      position: absolute;
      top: 0;
      right: 0;



      &::before {
        content: attr(data-rating) "";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 85%);
        border: 1px solid #fff;
        border-radius: 5px;
        box-shadow: 1px 3px 4px black;
        right: 0.3rem;
        top: 0.5rem;
        width: 3rem;
        height: 2rem;
      }
    }
  }

  .new_movie {
    .movie_title {
      color: #f9f9f9;
      text-transform: uppercase;
      text-decoration: underline;
      padding: 0.4rem 0.4rem 1rem 0.4rem;
    }

    .movie_descr {
      color: #f9f9f9;
      padding: 0.4rem 0.4rem 0.5rem 0.4rem;
    }
  }
}

.movie_carrousel {
  .movie_grid {
    .card_wrapper {
      .card_body {
        position: relative;
        width: 10rem;
        height: 100%;
        transition: 150ms ease-out all;

        &:hover {
          transform: scale(1.1) translateY(-5px);
          cursor: pointer;
          z-index: 10;
        }

        &::after {
          content: '';
          position: absolute;
          background-color: rgba(0, 0, 0, 0.25);
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
        }

        &:hover::after {
          background-color: rgba(0, 0, 0, 0);
        }

        &:hover .card_rating {
          border-top: 55px solid rgba(0, 0, 0, 0.6);

          &::before {
            font-weight: 600;
          }
        }

        .card_rating {
          display: none;

          &::before {
          }
        }
      }

      .new_movie {
        .movie_title {
          color: #f9f9f9;
          text-transform: uppercase;
          text-decoration: underline;
          padding: 0.4rem 0.4rem 1rem 0.4rem;
        }

        .movie_descr {
          color: #f9f9f9;
          padding: 0.4rem 0.4rem 0.5rem 0.4rem;
        }
      }
    }
  }
}