.movie_wrapper {
  min-height: 100vh;
  color: rgb(var(--main-font-clr));


  .movie_container {
    display: flex;
    flex-flow: column;

    .cnt_r {
      position: absolute;
      left: 35%;
      top: 27.5%;
      z-index: 11;

      .title {
        .tagline {
          opacity: 0.75;
          font-style: italic;
          font-weight: 300;
          padding-bottom: 1rem;
        }

        span {
          display: inline-flex;

          .release_date {
            text-transform: uppercase;
          }

          .movie_score {
            display: flex;
            justify-content: center;
            align-content: center;
            border: 1px solid #f8f8f8;
            margin-left: 0.5rem;

          }
        }

        .release_date_full {
          padding-top: 1rem;
          font-weight: 600;
        }

        .movie_overview {
          width: 50vw;
          padding-top: 1rem;
        }
      }
    }

    .cnt_l_poster {
      position: absolute;
      transform: translateY(7.5vh) translateX(10vw);
      box-shadow: 0 0 75px 1px rgb(var(--main-font-clr));
      border-radius: 70px;
      z-index: 15;

      img {
        height: 55vh;
        border-radius: 5px;
      }
    }

    .info_container {
      width: 100vw;
      padding: 0 10vw;
      z-index: 999;
      background-color: rgb(var(--main-bg));
      transform: translateY(10vh);
      min-height: 40vh;

      .info_stroke {
        display: flex;
        justify-content: center;

        table {
          thead,
          tbody {
            text-align: left;

            tr th,
            tr td {
              padding: 0 1rem;
            }
          }
        }
      }

      .actors {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3rem;

        h2 {
          padding-bottom: 1.5rem;
        }

        .actor_card {
          display: flex;
          flex-flow: column;
          padding: 1rem 1rem;

          .actor_img {
            display: flex;
            justify-content: center;
            z-index: 1;

            img {
              max-width: 92px;
              box-shadow: 0px 10px 30px 9px #000000;
              @media (hover: hover) {
                &:hover {
                  transform: scaleZ(8) perspective(100px);
                }
              }
              cursor: pointer;
              transition: 80ms ease-out all;
            }
          }

          .card_body {
            text-align: center;
            z-index: 2;

            .real_name {
              font-weight: 500;
              padding-top: 0.5rem;

              span {
                font-weight: 600;
                padding-left: 0.2rem;
              }
            }

            .play_as {
              opacity: 0.75;
              font-style: italic;
              font-weight: 300;
              max-width: 12rem;
            }

          }
        }
      }
    }
  }
}