*,
*:hover {
  transition: 150ms ease-out;
}
.searchbar_hide {
  display: none;
}
.search_bar {
  display: flex;
  align-self: center;
  margin: 0 auto;
  position: relative;
  flex-flow: row;
  width: min(600px, 50vw);
  justify-content: center;
  z-index: 100;
  padding-top: 0.5rem;
  input {
    transform: scaleX(0);
    padding-left: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    @keyframes search_anim {
      from {
        transform: scaleX(0);
        opacity: 0;
      }
      to {
        transform: scaleX(1);
        opacity: 1;
      }
    }
    animation: search_anim 500ms ease-out 1 forwards;
    transition: 1000ms ease-out;
    width: 100%;
    height: 2rem;
  }
  .close_search_btn {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-self: center;
    margin: auto auto;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    left: 95%;
    opacity: 0;
    @keyframes close_btn_anim {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    animation: close_btn_anim 500ms 700ms ease-out 1 forwards;
    &:hover {
      .close_a,
      .close_b {
        background-color: rgb(var(--secondary-clr));
      }
    }
    .close_a,
    .close_b {
      position: relative;
      width: 100%;
      height: 3px;
      background-color: #444;
    }
    .close_a {
      transform: translateY(0.7rem) rotate(45deg);
    }
    .close_b {
      transform: translateY(-0.6rem) rotate(-45deg);
    }
  }
}
