.video_container {
  width: 100vw;
  height: 70vh;

  iframe {
    position: relative;
    width: 100vw;
    height: 120vh;
    border: none;
    transform: translateY(-18vh);
    z-index: -1;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    height: 120vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
    top: 0;
    left: 0;
  }

  .gradient {
    height: 15%;
    top: 80%;
    width: 100%;
    background: linear-gradient(180deg, rgba(var(--main-bg), 0) 0%, rgba(var(--main-bg), 1) 100%);
    z-index: 10;
    position: absolute;
  }
}