body {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--main-font-clr));
}

a:not(.no_after) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(var(--secondary-clr), 0.25);
    height: 0.4rem;
    width: max(100%, 1rem);
    left: 0;
    right: 0;
    transform: skew(-30deg) rotate(-2deg);
    bottom: 0.1rem;
    transition: 100ms ease-out all;
  }

  @media (hover: hover) {
    &:hover::after {
      transform: translateY(5px) skew(-30deg) rotate(-2deg);
    }
  }
}